                                                                      <!-- <div class="clear"></div>

                                                                    </div>



                                                                </div></td>

                                                        </tr>



                                                    </table>-->

                                                </td>

                                                <td class="side_right">

                                                	<table class="w_table h_table side_right_1">

                                                    	<tr>

                                                        	<td><img src="/images/side_right_1.gif" alt="" /><br /></td>

                                                        </tr>

                                                    </table></td>

                                            </tr>

                                        	<tr>

                                           	  <td><img src="/images/left_bot.gif" alt="" /><br /></td>

                                                <td class="side_bot w_table"><img src="/images/spacer.gif" alt="" width="1" height="1" /><br /></td>

                                                <td><img src="/images/right_bot.gif" alt="" /><br /></td>

                                            </tr>

                                        </table></td>

							</tr>

						</table>

				    </td>

				</tr>

				<tr>

					<td class="footer">

                    	<div class="indent">

                        	Rampant Logic &copy; 2008

                        </div></td>

				</tr>

			</table></td>

          <td class="tal_right"></td>

  </tr>

</table>

</body>

</html>


