
<link type="text/css" rel="stylesheet" href="/style.css" />
<script src="/rollover.js" type="text/javascript"></script>
</head>

<body id="page" onload="MM_preloadImages('/images/m_1_hov.gif','/images/m_2_hov.gif','/images/m_3_hov.gif','/images/m_4_hov.gif', '/images/more_hov.gif', '/images/free_hov.gif', '/images/pur_hov.gif')">

<table class="main_table">

	<tr>

    	<td class="tal_left"></td> <!-- Left hand side spacer -->

<td>

			<table class="center_1">

				<tr>

					<td class="header"> <!-- contains background image for central box -->

                    	<table>

                        	<tr>

                            	<td class="menu">

                                	<div class="indent">

                                    	<a href="/index.html"><img src="/images/logo.gif" alt="" /></a><a href="/index.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','/images/m_1_hov.gif',1)"><img src="/images/m_1.gif" alt=" " width="118" height="117"  id="Image2" /></a><a href="/products.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','/images/m_2_hov.gif',1)"><img src="/images/m_2.gif" alt=" " width="119" height="117"  id="Image3" /></a><a href="/research.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','/images/m_3_hov.gif',1)"><img src="/images/m_3.gif" alt=" " width="118" height="117"  id="Image4" /></a><a href="/contacts.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','/images/m_4_hov.gif',1)"><img src="/images/m_4.gif" alt=" " width="122" height="117"  id="Image5" /></a><br />

                                    </div></td>

                            </tr>

                            <tr>

                            	<!-- This is the right half of the central box
								<td class="logo_1">

                                	<img src="/images/logo_1.gif" class="float" alt="" />

                                    <a href="#"><img src="/images/pic_1.gif" alt="" /></a><br />

                                    <a href="#"><img src="/images/pic_2.gif" alt="" /></a><br />

                                    <a href="#"><img src="/images/pic_3.gif" alt="" /></a><br /></td>-->
								<td class="logo_1" height="238">
									<img src="/images/logo_1.gif" class="float" alt="" />
									<div style="margin: 0px; padding: 0px; width: 352px; height: 238px; overflow: auto; overflow-x: hidden;">